# **Day-2(Session-2)**

**Topics**

Arithmetic operators

f-strings

Input/output

Logical, comparison, assignment

Conditional statements

# **Section-1**

**Introduction to Variables**

What is a Variable?

A variable is a name that refers to a value stored in memory.

**String**

A string stores text.
Real-life example: a user’s name in an app.

In [ ]:
#Variables & Types (Python automatically assign the data types)
name = "Divya"         #string

print(f"My Name is {name} and It is a {type(name)}")     #f-strings gives the clear and clean format output

My Name is Divya and It is a <class 'str'>

**Float**


A float represents a number with decimals.
Real-life example: the price of a product.

In [ ]:
salary = 2.5             #float

print(f"My Salary Package is {salary}LPA and It is a {type(salary)}")

My Salary Package is 2.5LPA and It is a <class 'float'>

**Integer**

Integer is a whole number- a number without a decimal point.

In [ ]:
num = 20                 #integer

print(f"The given Number is {num} and It is a {type(num)}")                   #type prints data type of variable

The given Number is 20 and It is a <class 'int'>

**Boolean**

Boolean values are either True or False.
Real-life example:

Is the user logged in? → Yes/No

Is the battery low? → True/False

In [ ]:
is_age_above_18 = True   #boolean

print(f"Is my age is above 18: {is_age_above_18} \n It is a {type(is_age_above_18)}")

Is my age is above 18: True
 It is a <class 'bool'>

**Q2-Input & Output**

In [ ]:
#Input & Output
#input taking data from user
name = "Divya"
age = 19         #user entered data is must in integer

# Output using f-strings
print(f"Hello {name}, you are {age} years old.")
print(f"Your Age in next year is {age + 1}")

Hello Divya, you are 19 years old.
Your Age in next year is 20

**Q3-Simple Calculator**

In [ ]:
# Taking two numbers as input
#Simple Calculator
num1 = int(input("Enter a 1st Number:"))
num2 = int(input("Enter a 2nd Number:"))

add = num1 + num2          #add is storing a addition values
sub = num1 - num2          #sub is storing a subtration values
mul = num1 * num2          #mul is storing a multiplication
div = num1 / num2          #div is storing a division

print(f"Addition of given values are:{add}")
print(f"Subtraction of given values are:{sub}")
print(f"Multiplication of given values are:{mul}")
print(f"Division of given values are:{div}")

Enter a 1st Number:20
Enter a 2nd Number:10
Addition of given values are:30
Subtraction of given values are:10
Multiplication of given values are:200
Division of given values are:2.0

**Operators**

**Q4-Even/Odd or Positive/Negative**

In [ ]:
num = int(input("Enter a Number:"))

if num > 0:                                    #here, we use nested if for check num > 0  then check positive and negitive
  print(f"{num} is a Positive Number.")
  if num % 2 == 0:
    print(f"{num} is a Even Number.")
  else:
    print(f"{num} is a Odd Number.")
elif num < 0:
  print(f"{num} is a Negitive Number.")
else:
  print("The number is Zero")

Enter a Number:22
22 is a Positive Number.
22 is a Even Number.

**Q5-Comparison Operator**

In [ ]:
#user entered data is must in integer
num1 = int(input("Enter a first Number:"))
num2 = int(input("Enter a second Number:"))

if num1 == num2:
  print("Both Numbers are Equal")
elif num1 > num2:
  print(f"{num1} is Graterthan {num2}")
else:
  print(f"{num1} is Lessthan {num2}")

Enter a first Number:25
Enter a second Number:15
25 is Graterthan 15

**Q6-Assignment Operators**

In [ ]:
value = 50
print(f"The value is {value}")

value += 20
print(f"The value after Adition by 20 is {value}")

value -= 10
print(f"The value after Subtraction by 10 is {value}")

value *= 2
print(f"The value after Multiplicaction into 2 is {value}")

value /= 5
print(f"The value after Division by 5 is {value}")

The value is 50
The value after Adition by 20 is 70
The value after Subtraction by 10 is 60
The value after Multiplicaction into 2 is 120
The value after Division by 5 is 24.0

**Conditional Statements**

**Introduction to Conditional Statements**

Conditional statements check conditions and run code only if the condition is true.

We have three statements in Conditional staments. They are,

if

elif

else

**Q7-Grading System**

In [ ]:
marks = int(input("Enter a marks between 0 to 100:"))

if  marks >= 0 and marks <= 100:
  if marks >= 90:
    Grade = "A"
  elif marks >=75:
    Grade = "B"
  elif marks >= 50:
    Grade = "C"
  elif marks >= 35:
    Grade = "D"
  else:
    print("Fail")
  print(f"Your marks is {marks}, You got {Grade} Grade")
else:
  print("Enter marks between 0 to 100 only")

Enter a marks between 0 to 100:55
Your marks is 55, You got C Grade

**Q8-Movie Ticket Pricing**

In [ ]:
age = int(input("Enter your age:"))

if age < 5:
  price = "Free"
elif age <= 17:
  price = "₹100"
else:
    price = "₹150"

print(f"Your Ticket Price is {price}")

Enter your age:19
Your Ticket Price is ₹150

**Q9-Login Check**

In [ ]:
# User input
mail_id = input("Enter username:")
user_password = input("Enter Password:")

# Correct credentials
mail = "admin"
password = "1234"

if mail_id == mail and user_password == password:
  print("Login Successful")
else:
  print("Login Failed")

Enter username:admin
Enter Password:1234
Login Successful