**Day-3: (Session-3)**

**Q1. Write a program using a for loop to print all even numbers from 1 to 20.**

In [5]:
# Even numbers from 1 to 20
print("Even numbers from 1 to 20 is:")
for i in range(1, 21):
  if i%2==0:
    print(i)

Even numbers from 1 to 20 is:
2
4
6
8
10
12
14
16
18
20

**Q2. Write a while loop program to find the sum of the digits of a number entered by the user.**

In [7]:
# take input value from user
k = int(input("Enter the Number: "))
sum = 0

# Use this abs function for convert negitave values to positive values
if k < 0:
  k = abs(k)

while k > 0:
  last_digit = k % 10      # it takes last digit
  sum += last_digit        # sum of last digits
  k //= 10                 # it remove last digit after added
print(sum)

Enter the Number: 25
7

**Q3. Using a for loop, count how many vowels are present in a word entered by the user.**

In [8]:
# Find Vowels in Letter

letter = input("Enter the Word: ")
vowels = "aeiouAEIOU"                   # vowels for checking
count = 0                               # to count the vowels

for words in letter:                    # words to check each value in letter
  if words in vowels:                   # words to check each value in vowels
    count +=1
    print(words)
print(f"Number of Vowels in {letter}: {count}")

Enter the Word: Divya
i
a
Number of Vowels in Divya: 2

**Q4. Using do-while logic in Python (while True + break), repeatedly ask the user to enter a number until they type "stop".**

In [10]:
# Repeatedly ask the user to enter a number
while True:                            # while true is for continues loop
  num = input("Enter a Number:")
  if num.upper() == "STOP":              # .upper is convert string values in upper case like stop into STOP
    break                              # brek is for break the loop

Enter a Number:10
Enter a Number:20
Enter a Number:stop

**Q5. Write a for loop program to print the multiplication table of a number entered by the user from 1 to 10.**

In [11]:
# The multiplication table of a number entered by the user
a = int(input("Enter Table Number: "))      # it takes table number from user

for i in range(1,11):                       # the loop prints table step by step
  print(f"{a} * {i} = {a*i}")               # it display the table from 1 to 10

Enter Table Number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60